<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4"
	xmlns="http://java.sun.com/xml/ns/j2ee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>pkb</display-name>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>

	<servlet>
		<servlet-name>action</servlet-name>
		<servlet-class>
			org.apache.struts.action.ActionServlet
		</servlet-class>
		<init-param>
			<param-name>config</param-name>
			<param-value>/WEB-INF/struts-config.xml</param-value>
		</init-param>
		<load-on-startup>2</load-on-startup>
	</servlet>

<!-- 
	<servlet>
		<servlet-name>PkbInit</servlet-name>
		<servlet-class>
			com.pxl.pkb.servlets.PkbInitServlet
		</servlet-class>
		<init-param>
			<param-name>BackupTime</param-name>
			<param-value>01:00</param-value>
		</init-param>
		<init-param>
			<param-name>UploadPath</param-name>
			<param-value>/usr/pxl/pkb/upload</param-value>
		</init-param>
		<init-param>
			<param-name>BatchUploadPath</param-name>
			<param-value>/usr/pxl/pkb/batchupload</param-value>
		</init-param>
		<init-param>
			<param-name>BackupPath</param-name>
			<param-value>/usr/pxl/pkb/backup</param-value>
		</init-param>
		<init-param>
			<param-name>FlashPaperPath</param-name>
			<param-value>/usr/pxl/pkb/flashpaper</param-value>
		</init-param>
		<init-param>
			<param-name>FlashPaperServer</param-name>
			<param-value>172.16.110.129</param-value>
		</init-param>
		<init-param>
			<param-name>DbUrl</param-name>
			<param-value>
				jdbc:mysql://127.0.0.1/pkb?useUnicode=true&amp;characterEncoding=UTF-8
			</param-value>
		</init-param>
		<init-param>
			<param-name>DbUser</param-name>
			<param-value>root</param-value>
		</init-param>
		<init-param>
			<param-name>DbPass</param-name>
			<param-value>43k7brM</param-value>
		</init-param>
		<init-param>
			<param-name>mysqldumpPath</param-name>
			<param-value>/usr/bin/mysqldump</param-value>
		</init-param>
		<init-param>
			<param-name>sendMail</param-name>
			<param-value>true</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
-->
  
	<servlet>
		<servlet-name>PkbInit</servlet-name>
		<servlet-class>com.pxl.pkb.servlets.PkbInitServlet</servlet-class>
		<init-param>
		<param-name>BackupTime</param-name>
		<param-value>01:00</param-value>
		</init-param>
		<init-param>
		<param-name>UploadPath</param-name>
		<param-value>e:\pkb\upload</param-value>
		</init-param>
		<init-param>
		<param-name>BatchUploadPath</param-name>
		<param-value>e:\pkb\batchupload</param-value>
		</init-param>
		<init-param>
		<param-name>BackupPath</param-name>
		<param-value>e:\pxl\pkb\backup</param-value>
		</init-param>
		<init-param>
		<param-name>FlashPaperPath</param-name>
		<param-value>e:\pkb\flashpaper</param-value>
		</init-param>
		<init-param>
		<param-name>FlashPaperServer</param-name>
		<param-value>127.0.0.1</param-value>
		</init-param>
		<init-param>
		<param-name>DbUrl</param-name>
		<param-value>jdbc:mysql://127.0.0.1/pkb5?useUnicode=true&amp;characterEncoding=UTF-8</param-value>
		</init-param>
		<init-param>
		<param-name>DbUser</param-name>
		<param-value>root</param-value>
		</init-param>
		<init-param>
		<param-name>DbPass</param-name>
		<param-value>pxlmysql</param-value>
		</init-param>
		<init-param>
		<param-name>mysqldumpPath</param-name>
		<param-value>D:\EasyPHP\mysql\bin\mysqldump</param-value>
		</init-param>
		<init-param>
		<param-name>sendMail</param-name>
		<param-value>true</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>


	<servlet>
		<servlet-name>dwr-invoker</servlet-name>
		<servlet-class>
			org.directwebremoting.servlet.DwrServlet
		</servlet-class>
		<init-param>
			<param-name>debug</param-name>
			<param-value>true</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>dwr-invoker</servlet-name>
		<url-pattern>/dwr/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>action</servlet-name>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>downloadfile</servlet-name>
		<servlet-class>
			com.pxl.pkb.servlets.DownloadFileServlet
		</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>downloadfile</servlet-name>
		<url-pattern>/DownloadFile</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>getreader</servlet-name>
		<servlet-class>com.pxl.pkb.servlets.GetReader</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>getreader</servlet-name>
		<url-pattern>/GetReader</url-pattern>
	</servlet-mapping>

	<!-- 
		<listener>
		<listener-class>com.pxl.pkb.listener.SessionListener</listener-class>
		</listener>
		
		<listener>
		<listener-class>com.pxl.pkb.listener.PkbContextListener</listener-class>
		</listener>
	-->

	<filter>
		<filter-name>DbConnFilter</filter-name>
		<filter-class>com.pxl.pkb.filters.DbConnFilter</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>DbConnFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<filter>
		<filter-name>Set Character Encoding</filter-name>
		<filter-class>
			com.pxl.pkb.filters.SetCharacterEncodingFilter
		</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>GBK</param-value>
		</init-param>
		<init-param>
			<param-name>ignore</param-name>
			<param-value>false</param-value>
		</init-param>
	</filter>

	<filter-mapping>
		<filter-name>Set Character Encoding</filter-name>
		<url-pattern>*.jsp</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>Set Character Encoding</filter-name>
		<url-pattern>*.do</url-pattern>
	</filter-mapping>

	<filter>
		<filter-name>CheckSession</filter-name>
		<filter-class>
			com.pxl.pkb.filters.CheckSessionFilter
		</filter-class>
		<init-param>
			<param-name>ExPageCount</param-name>
			<param-value>13</param-value>
		</init-param>
		<init-param>
			<param-name>ExPage0</param-name>
			<param-value>/login.jsp</param-value>
		</init-param>
		<init-param>
			<param-name>ExPage1</param-name>
			<param-value>/login.do</param-value>
		</init-param>
		<init-param>
			<param-name>ExPage2</param-name>
			<param-value>/errmsg.jsp</param-value>
		</init-param>
		<init-param>
			<param-name>ExPage3</param-name>
			<param-value>/user_reg.jsp</param-value>
		</init-param>
		<init-param>
			<param-name>ExPage4</param-name>
			<param-value>/UserReg.do</param-value>
		</init-param>
		<init-param>
			<param-name>ExPage5</param-name>
			<param-value>/NotifyGet.do</param-value>
		</init-param>
		<init-param>
			<param-name>ExPage6</param-name>
			<param-value>/state.jsp</param-value>
		</init-param>
		<init-param>
			<param-name>ExPage7</param-name>
			<param-value>/pxl_about.jsp</param-value>
		</init-param>
		<init-param>
			<param-name>ExPage8</param-name>
			<param-value>/pxl_hr.jsp</param-value>
		</init-param>
		<init-param>
			<param-name>ExPage9</param-name>
			<param-value>/pxl_hr_content.jsp</param-value>
		</init-param>
		<init-param>
			<param-name>ExPage10</param-name>
			<param-value>/pxl_dxwp.jsp</param-value>
		</init-param>
		<init-param>
			<param-name>ExPage11</param-name>
			<param-value>/pxl_dxwp_content.jsp</param-value>
		</init-param>
		<init-param>
			<param-name>ExPage12</param-name>
			<param-value>/client_version.jsp</param-value>
		</init-param>
	</filter>

	<filter-mapping>
		<filter-name>CheckSession</filter-name>
		<url-pattern>*.jsp</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>CheckSession</filter-name>
		<url-pattern>*.do</url-pattern>
	</filter-mapping>


	<jsp-config>
		<taglib>
			<taglib-uri>core</taglib-uri>
			<taglib-location>/WEB-INF/taglib.tld</taglib-location>
		</taglib>
	</jsp-config>

	<servlet>
		<servlet-name>SimpleUploader</servlet-name>
		<servlet-class>
			com.pxl.pkb.servlets.CKEditorUploadServlet
		</servlet-class>
		<init-param>
			<param-name>baseDir</param-name>
			<param-value>/usr/pxl/pkb/ckupload</param-value>
		</init-param>
		<init-param>
			<param-name>debug</param-name>
			<param-value>false</param-value>
		</init-param>
		<init-param>
			<param-name>enabled</param-name>
			<param-value>true</param-value>
		</init-param>
		<init-param>
			<param-name>AllowedExtensionsFile</param-name>
			<param-value></param-value>
		</init-param>
		<init-param>
			<param-name>DeniedExtensionsFile</param-name>
			<param-value>
				html|htm|php|php2|php3|php4|php5|phtml|pwml|inc|asp|aspx|ascx|jsp|cfm|cfc|pl|bat|exe|com|dll|vbs|js|reg|cgi|htaccess|asis|ftl
			</param-value>
		</init-param>
		<init-param>
			<param-name>AllowedExtensionsImage</param-name>
			<param-value>jpg|gif|jpeg|png|bmp</param-value>
		</init-param>
		<init-param>
			<param-name>DeniedExtensionsImage</param-name>
			<param-value></param-value>
		</init-param>
		<init-param>
			<param-name>AllowedExtensionsFlash</param-name>
			<param-value>swf|fla</param-value>
		</init-param>
		<init-param>
			<param-name>DeniedExtensionsFlash</param-name>
			<param-value></param-value>
		</init-param>
		<load-on-startup>0</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>SimpleUploader</servlet-name>
		<url-pattern>/ckeditor/uploader</url-pattern>
	</servlet-mapping>

</web-app>
